body {
    margin: 0;
    
    background: rgb(2, 2, 49);
    font-family: '60s Scoreboard', sans-serif;
                                                
}

.container {
    max-width: 640px;
    margin: auto;
    margin-top: 50px;
    color: #fff;
    text-align: center;
    border: 5px solid white;
    border-radius: 10px;
    padding: 0px 140px;
    
}

.content {
    display: flex;
    text-align: center;
    /* max-width: 400px; */
}

h1 {
    font-size: xxx-large;
    border-bottom: 5px gray solid;
    margin-top: 0;
    
                                                
}

.home, .away {
    margin: 50px;
    margin-left: 70px;
    
    
    
}

.score {
    background: black;
    padding: 2px;
    color: red;
    padding: 15px;
    margin-bottom: 70px;
    font-size: 90px;
    margin-top: 0;
}

button {
    padding: 15px;
    color: green;
    background: rgb(11, 11, 51);
    border: #fff 2px solid;
    font-weight: bold;
    font-size: 20px;
    transition-duration: 0.4s;
}

button:hover {
    background: green;
    color: white;
}